/**********************************
GENERAL
***********************************/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

.main-footer {
  margin-top: auto;
}

.main-div {
  margin: 0 10px;
}

.col {
  margin: 0 10px;
}

h2 {
  font-size: .5 em;
  margin: -5px 0 0;
  font-weight: normal;
}


.main-header,
.main-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10px;
  padding-left: 20px;
  padding-top: 10px;

}

.main-header {
  justify-content: space-between;

}

header {
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
  background-color: #325015 ;
}

.main-nav  {
  list-style: none;
}

.main-header a,
.main-header div {
  color: white;
}


.main-header div h1 {
  font-size: 1.75em;
}
.main-header div h2 {
  font-size: 1.1em;
}

.main-nav  a {
  padding-top: 50px;
  margin-right: 30px;
  color: white;
}

/* selected nav link */
.main-nav a.selected, .main-nav a:hover{
  color: #C2673f;
}

.profile {
  height: 100px;
  margin-left: 500px;
  margin-bottom: 50px;
  /*background-color: blue;*/
  /*width: 20px;*/

}
.profile-pic {
  height: 100px;
  width: 100px;
}


/**********************************
     Media Queries
Home Page .main-div SETUP  (Flexbox)
***********************************/

@media (min-width: 769px) {

  .main-header,
  .main-nav,
  .row   {
    display: flex;
    flex-direction: row;
  }

  .col {
    flex: 1;
  }

  .main-header {
    justify-content: space-between;

  }
}

@media (min-width: 1025px) {

  .secondary {
    flex: 1.3;
  }
}









/* end */
