@media screen and (min-width: 480px) {

  /**********************************
  TWO COLUMN LAYOUT
  for tablets, larger smart phones,etc
  ***********************************/

  #primary {
    width: 50%;
    float: left;
  }
  #secondary: {
    width: 40%;
    float: right;
  }


  /**********************************
  PAGE: PORTFOLIO
  THREE COLUMN LAYOUT
  ***********************************/

  /**********************************
  Calculations To Determine width per image:
  3 * (2.5*2) = 15   ( 2.5 is the side margin per image)
  100 - 15 = 85
  85 / 3 = 28.33333
  ***********************************/

  #gallery li {
    width: 28.3333%
  }

  #gallery li:nth-child(3n + 1) {
    clear: left;
  }

  /**********************************
  PAGE: ABOUT
  ***********************************/

  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

}

@media screen and (min-width: 660px) {

  /**********************************
  large tablets, normal size desktops
  /**********************************

  /**********************************
  PAGE: HEADER
  ***********************************/

    nav {
      background: none;
      float: right;
      font-size: 1.125em;
      margin-right: 5%;
      text-align: right;
      width: 45%;

    }

    #logo {
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;

    }
    h1 {
      font-size: 2.5 em;
    }

    h2 {
      font-size: 1em;
      margin-bottom: 20px;
    }

    header {
      border-bottom: 5px solid #599a68;
      margin-bottom: 60px;
   }


}
